<?xml version="1.0" encoding="utf-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ /*
  ~  * Created by Andrey Sevastianov on 10 january 2019
  ~  * Copyright (c) 2022 . All rights reserved.
  ~  * Last modified 25.01.2022, 19:14
  ~  */
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arhsota.tablo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EmptyCubes"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".Player"
            android:exported="false"
            android:label="Players"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Help"
            android:label="Справка"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7279174300665421~2703649226" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>